In [40]:
#Import libraries
import pandas as pd

import numpy as np
import matplotlib.pyplot as plt

In [41]:
train_data = pd.read_csv("./titanic/train.csv")
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [42]:
train_data.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [43]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [44]:
train_data.shape

(891, 12)

In [45]:
train_data["Sex"].unique()

array(['male', 'female'], dtype=object)

In [46]:
for f in train_data.columns:
    print(f, train_data[f].isnull().sum())

PassengerId 0
Survived 0
Pclass 0
Name 0
Sex 0
Age 177
SibSp 0
Parch 0
Ticket 0
Fare 0
Cabin 687
Embarked 2

In [47]:
total_women = train_data.loc[train_data.Sex == "female"]

In [48]:
total_women["Survived"]

1      1
2      1
3      1
8      1
9      1
      ..
880    1
882    0
885    0
887    1
888    0
Name: Survived, Length: 314, dtype: int64

In [49]:
len(total_women)

314

In [50]:
sum(total_women["Survived"])

233

In [51]:
rate_women_survived = sum(total_women["Survived"])/len(total_women)

In [52]:
rate_women_survived

0.7420382165605095

In [53]:
men = train_data.loc[train_data.Sex == 'male']["Survived"]

In [54]:
rate_men_survived = sum(men)/len(men)

In [55]:
rate_men_survived

0.18890814558058924

In [56]:
from sklearn.ensemble import RandomForestClassifier

In [57]:
Y = train_data["Survived"]

In [58]:
train_data.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [59]:
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [60]:
features = ["Pclass", "Sex", "SibSp", "Parch"]

In [61]:
test_data = pd.read_csv("./titanic/test.csv")
X = pd.get_dummies(train_data[features])
X_test = pd.get_dummies(test_data[features])

In [62]:
X.head()

   Pclass  SibSp  Parch  Sex_female  Sex_male
0       3      1      0       False      True
1       1      1      0        True     False
2       3      0      0        True     False
3       1      1      0        True     False
4       3      0      0       False      True

In [63]:
X_test.head()

   Pclass  SibSp  Parch  Sex_female  Sex_male
0       3      0      0       False      True
1       3      1      0        True     False
2       2      0      0       False      True
3       3      0      0       False      True
4       3      1      1        True     False

In [64]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Pclass      891 non-null    int64
 1   SibSp       891 non-null    int64
 2   Parch       891 non-null    int64
 3   Sex_female  891 non-null    bool
 4   Sex_male    891 non-null    bool
dtypes: bool(2), int64(3)
memory usage: 22.8 KB

In [65]:
train_data[features]

     Pclass     Sex  SibSp  Parch
0         3    male      1      0
1         1  female      1      0
2         3  female      0      0
3         1  female      1      0
4         3    male      0      0
..      ...     ...    ...    ...
886       2    male      0      0
887       1  female      0      0
888       3  female      1      2
889       1    male      0      0
890       3    male      0      0

[891 rows x 4 columns]

In [66]:
train_data[features].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Pclass  891 non-null    int64
 1   Sex     891 non-null    object
 2   SibSp   891 non-null    int64
 3   Parch   891 non-null    int64
dtypes: int64(3), object(1)
memory usage: 28.0+ KB

In [67]:
train_data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [68]:
#n_estimators=100 is 100 trees
#max_depth=5 limits each tree to depth 5

"""
# Without random_state - different results each time
model1 = RandomForestClassifier(n_estimators=100, max_depth=5)
model1.fit(X, Y)
accuracy1 = model1.score(X, Y)  # Might be 0.823

model2 = RandomForestClassifier(n_estimators=100, max_depth=5)  
model2.fit(X, Y)
accuracy2 = model2.score(X, Y)  # Might be 0.831 (different!)

# With random_state - same results each time
model1 = RandomForestClassifier(n_estimators=100, max_depth=5, random_state=1)
model2 = RandomForestClassifier(n_estimators=100, max_depth=5, random_state=1)
# Both will give identical results

"""
model = RandomForestClassifier(n_estimators=100, max_depth=5, random_state=1)

In [69]:
model.fit(X, Y)

RandomForestClassifier(max_depth=5, random_state=1)

In [70]:
#Test the model over the test data
predictions = model.predict(X_test)

In [71]:
output = pd.DataFrame({'PassengerId': test_data.PassengerId, 'Survived': predictions})
output.to_csv('submission.csv', index=False)
print("Your submission was successfully saved!")

Your submission was successfully saved!